.title {
    font-weight: bold;
}

.form {
    background-color: var(--backplate-colour);
    max-width: 95%;
    min-width: 40vw;
    margin: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

.box {
    background-color: var(--backplate-colour);
    border-radius: 5%;
    min-width: 80%;
    max-width: 100%;
    padding: 1%;
    margin: 1% 0;
    display: flex;
}

.label {
    width: 100%;
}

.submit {
    border: 1px grey solid;
    margin: 2% 2%;
}

.input {
    min-width: 60%;
    max-width: 90%;
    border: 1px grey solid;
    margin: 1rem;
}

.inputerr {
    border: 1px red solid;
    margin: 1rem;
    min-width: 60%;
    max-width: 90%;
}

.error {
    color: red;
    margin: 0 1rem 0.1rem;
}

.description {
    font-size: small;
    margin-left: 0.5rem;
}

.tagSelectorBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 30rem;
    min-height: 10rem;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--backplate-colour);
}

.tagSuggestorBox {
    
}

.tagSuggestorDropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    border: 1px solid gray;
    width: 200px;
    margin-left: 0.75rem;
    margin-top: -0.75rem;
}

.tagSuggestorInput {
    display: inline-block;
}

.tagSuggestorInput:focus-within .tagSuggestorDropdown {
    display: flex;
}

.tagSuggestorDropdown label {
    cursor: pointer;
}

.tagSuggestorSelected {
    min-height: 2.2rem;
    margin: 0 0.5rem;
    background-color: var(--backplate-colour);
}

.tagSuggestorButton {
    cursor: pointer;
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.tag {
    padding: 0 0.5rem 0rem 0.25rem;
    margin: 0.1rem;
    border-radius: 0.25rem;
    text-transform: capitalize;
    text-shadow: 2px 2px 1px black;
    border: 0.2rem solid rgba(255, 255, 255, 0);
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.tagLabel {
    text-shadow: 2px 2px 1px black;
}

.tag:has(:checked) {
    border: 0.2rem solid hsl(59, 91%, 46%);
}

.contentInput {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-width: none;
    max-width: none;
}

.contentInput span {
    margin: auto;
    align-self: center;
}